@page "/"

@namespace P0003

<html>
    <head>
        <meta charset="utf-8" />

        @*Use Tailwind CSS*@
        <link rel="stylesheet" type="text/css" href="/css-out/tailwind.css" />

        @*Use Inter font.*@
        <link href='https://rsms.me/inter/inter.css' rel='stylesheet' type='text/css'>

        <title>Index Page</title>
    </head>
    <body>
        <div class="prose">
            <h3>Index</h3>

            <P0009.Components.Test />
        </div>
    </body>
</html>

@code {

}
